<!DOCTYPE html>

<html lang="en">

<head>
    <title>Example</title>
    <link rel="stylesheet" href="../Style/example.css">
</head>

<body>
    <div class="center">
        <h1>Example</h1>
    </div>
    <div class="center max-w-50">
        <p>Debitis dolorum voluptas soluta libero eum vero, aperiam labore similique aut laudantium? Quos, consequuntur! Placeat omnis, ex corporis nostrum debitis ratione quidem possimus accusamus saepe nulla, soluta sed! Magni nulla pariatur voluptatem odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus enim temporibus quis, voluptates iste accusamus atque nesciunt natus itaque placeat autem mollitia dicta, non ratione sunt eos animi numquam et. Animi dolore quo vel quisquam, quam nulla optio excepturi. Officiis non, earum quibusdam perferendis nisi sunt! Reprehenderit expedita quod, fugit, excepturi nam adipisci magni quam, consequuntur eos reiciendis mollitia. Rerum dolor cumque, provident impedit eveniet eos molestias quia cum veritatis, non sit. Modi vel odit in suscipit aliquid, eligendi omnis neque! Suscipit, dignissimos voluptatibus voluptatem officia quos qui facere, aut laudantium accusamus accusantium mollitia ipsum earum sapiente? Quam, impedit consequatur.</p>
    </div>

</body>

</html>